@import url('https://fonts.googleapis.com/css?family=Muli|Nunito|Oswald|PT+Sans+Narrow|Raleway|Roboto|Rubik&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}